:root {
    --bg-color: #212121;
    --text-color: #ffffff;
    --text-secondary: #a1a1a1;
    --input-bg: #2d2d2d;
    --button-bg: #4a4a4a;
    --button-hover: #5a5a5a;
    --border-color: #3a3a3a;
    --blue-button: #4b5563;
    --blue-button-hover: #374151;
    --message-bg-own: #2563eb;
    --message-bg-other: #4b5563;
    --message-bg-system: #374151;
    /* Add icon color variables */
    --icon-red: #FF6666;
    --icon-primary: #ffffffcc;
    --icon-secondary: #a1a1a1;
    --icon-accent: #2563eb;
    --icon-disabled: #4a4a4a;
    --success-color: #22c55e;
    --accent-color: #2563eb;
    --accent-color-dark: #1d4ed8;
    --accent-hover: #1d4ed8;
    /* --accent-color: #1d4ed8;
    --accent-color-dark: #1e40af; */
    /* --accent-color: #2564ebc8;
    --accent-color-dark: #1d4fd8a5; */
    --bg-secondary: #2d2d2d;
    --error-color: #f43f5e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}
.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 0rem 1.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* Global Input Styles */
input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1rem;
}

/* Global Button Styles */
button {
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    background-color: var(--button-bg);
    color: var(--text-color);
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
}
button:hover {
    background-color: var(--button-hover);
}
.fire-icon {
    color: var(--icon-red);
    width: 36px;
    height: 36px;
}

/* Add default link styling */
a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-hover);
    text-decoration: underline;
}
/* Mobile Responsiveness, always put this at the bottom */
@media (max-width: 600px) {
    .container {
        padding: 0;
        margin: 0 0.5rem;
    }
}