<header>
    <h1><a href="/"><svg class="fire-icon"><use href="static/images/fire.svg#icon"></use></svg></a><span data-i18n="common.header">NoTrace Chat</span></h1>
    <!-- <p class="subtitle" data-i18n="create.slogan">Take our privacy back</p> -->
    <p class="subtitle" data-i18n="create.subtitle" data-i18n-html="true">A secure, anonymous <a href="" target="_blank" class="hyperlink" data-i18n="create.open-source">open-source platform</a></p>
    <div class="features">
        <div class="feature-item">•<span data-i18n="create.features.noHistory">No history</span></div>
        <div class="feature-item">•<span data-i18n="create.features.noTracking">No tracking</span></div>
        <div class="feature-item">•<span data-i18n="create.features.noDatabase">No database</span></div>
    </div>
    <hr class="header-hr">
</header>