header {
    text-align: center;
    margin: 1rem;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

h1 a {
    display: inline-flex;
    align-items: center;
}

.subtitle {
    color: var(--text-secondary);
    margin: 0.5rem 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.subtitle a {
    display: flex;
    align-items: center;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin: 0.6rem 0;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-secondary);
}

.header-hr {
    border: none;
    height: 0.1rem;
    background-color: var(--bg-secondary);
    margin: 1rem auto;
    width: 100%;
}

/* For very small screens*/
@media (max-width: 428px) {
    .subtitle {
        margin: 0.5rem 0 0.2rem;
        font-size: 0.8rem;
    }
    
    .features {
        gap: 0.5rem;
        font-size: 0.8rem;
    }
    
    .feature-item {
        gap: 0.2rem;
    }
}